<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>비밀번호 찾기</h4>
        </div>
    </div>
    <form th:action="@{/member/findPassword}" th:object="${findPasswordForm}" method="post">
        <div th:replace="error/form_error :: formErrorsFragment"></div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자 ID</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">사용자 이메일</label>
            <input type="text" th:field="*{email}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
    </form>
</div>
</html>