<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>비밀번호 변경</h4>
        </div>
    </div>
    <form th:action="@{/member/modifyPassword}" th:object="${memberModifyPasswordForm}" method="post">
        <div th:replace="error/form_error :: formErrorsFragment"></div>
        <div class="mb-3">
            <label for="oldPassword" class="form-label">이전 비밀번호</label>
            <input type="password" th:field="*{oldPassword}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">새 비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">새 비밀번호 확인</label>
            <input type="password" th:field="*{passwordConfirm}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">수정하기</button>
    </form>
</div>
</html>