<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원정보 변경</h4>
        </div>
    </div>
    <form th:action="@{/member/modify}" th:object="${memberModifyForm}" method="post">
        <div th:replace="error/form_error :: formErrorsFragment"></div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="text" name="email" th:value="${#authentication.principal.email}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">작가명</label>
            <input type="nickname" name="nickname" th:value="${#authentication.principal.nickname}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">수정하기</button>
    </form>
</div>
</html>